aiobotocore
aiodns
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
altair
annotated-doc
annotated-types
anyio
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
async-lru
asyncssh
attrs
autopep8
babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
brotlicffi
build
cachetools
cattrs
certifi
cffi
chardet
charset-normalizer
click==8.5.0
cloudpickle
colorama
colorcet
comm
contourpy
cookiecutter
cryptography
cycler
dask
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
docstring-to-markdown
docutils
entrypoints
et_xmlfile
evalidate
executing
fastapi==0.141.1
fastjsonschema
filelock
flake8
Flask
fonttools
frozendict
frozenlist
fsspec
gitdb
GitPython
gmpy2
greenlet
h11
h5py
HeapDict
hf-xet==1.6.0
holoviews
httpcore
httptools
httpx
huggingface_hub==1.29.0
hvplot
idna
ImageIO
imagesize
imbalanced-learn
importlib_metadata
inflection
iniconfig
installer
intake
intervaltree
ipykernel
ipympl
ipython
ipython_pygments_lexers
ipywidgets
isort
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keyring
kiwisolver
lazy-loader
lckr_jupyterlab_variableinspector
libarchive-c
libmambapy
librt
lief
linkify-it-py
llvmlite
lmdb
locket
lsprotocol
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.11.0
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
more-itertools
mpi4py
mpmath
msgpack
multidict
multipledispatch
mypy
mypy_extensions
narwhals
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nh3
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
ollama==0.6.2
openai-whisper==20250625
openpyxl
packaging==26.0
pandas
pandocfilters
panel
panel-material-ui
param
parso
partd
pathspec
patsy
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
py-rattler
py-rattler-build
pyarrow
pycares
pycodestyle
pycosat
pycparser
pyct
pydantic
pydantic-settings
pydantic_core
pydocstyle
pyerfa
pyflakes
PyGithub
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyparsing
pyproject_hooks
PyQt6==6.11.0
PyQt6-WebEngine==6.11.0
PyQt6_sip
PySide6==6.11.0
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-ruff
python-lsp-server
python-multipart
python-slugify
pytokens
pytoolconfig
pytz
pyuca
pyviz_comms
PyWavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
readchar
referencing
regex
requests
requests-toolbelt
rfc3339_validator
rfc3986_validator
rich
roman-numerals
rope
rpds-py
rtree
ruamel.yaml
ruamel.yaml.clib
ruff
s3fs
safetensors==0.8.0
scikit-image
scikit-learn
scipy
seaborn
semver
Send2Trash
sentence-transformers==6.0.1
setuptools==83.0.0
shellingham
shiboken6==6.11.0
sip
six
sklearn-compat
smmap
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack_data
starlette
statsmodels
streamlit
superqt
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tiktoken==0.14.0
tinycss2
tokenizers==0.23.1
toml
tomli
tomli_w
tomlkit
toolz
torch==2.13.0
tornado
tqdm
traitlets
transformers==5.16.1
truststore
typer
typing-inspection
typing_extensions
tzdata
uc-micro-py
ujson
unearth
urllib3
uvicorn
watchdog
wcwidth
webencodings
websocket-client
websockets
Werkzeug
whatthepatch
wheel==0.47.0
widgetsnbextension
win_inet_pton
winloop
wrapt
xarray
xlwings
xyzservices
yapf
yarl
zict
zipp
zstandard
